<template>
  <section>
    <div>
        <h3>Bar Chart</h3>
        <vue-highcharts :options="options" ref="barChart"></vue-highcharts>
    </div>
    </section>
</template>
<script>
import VueHighcharts from "vue2-highcharts";
import SeriesLabel from "highcharts/modules/series-label";
import Highcharts from "highcharts";
import { db } from "../firebase";

SeriesLabel(Highcharts);

export default {
  name: 'barchart',
  components: {
    VueHighcharts
  },
  data() {
    return {
      persons: '',
      options: {
        title: {
    text: "Blood group Chart"
  },
  xAxis: {
    categories: ["0-10", "11-20", "21-30", "31-40", "41-50"],
    title: {
      text: "Age in (Years)"
    }
  },
  yAxis: {
    min: 0,
    title: {
      text: "Number of People"
    }
  },
  
  series: [
    {
      type: "column",
      name: "A+",
      data: [10, 4, 6, 3, 8]
    },
    {
      type: "column",
      name: "A-",
      data: [3, 10, 4, 1, 9]
    },
    {
      type: "column",
      name: "B+",
      data: [4, 6, 5, 7, 8]
    },
    {
      type: "column",
      name: "B-",
      data: [5, 7, 8, 4, 3]
    },
    {
      type: "column",
      name: "O+",
      data: [2, 6, 9, 5, 4]
    },
    {
      type: "column",
      name: "O-",
      data: [2, 3, 4, 5, 7]
    },
    {
      type: "column",
      name: "AB+",
      data: [8, 6, 3, 5, 7]
    },
    {
      type: "column",
      name: "AB-",
      data: [3, 4, 3, 2, 1]
    }
  ]
      }
    };
  },
  firebase: {
    persons: db.collection('persons')
  }
};
</script>

<style scoped>
  
</style>