<template>
  <div id="app">
    <BarChart />
  </div>
</template>

<script>
import BarChart from './components/BarChart.vue'

export default {
  name: 'App',
  components: {
    BarChart
  }
}
</script>

<style>

</style>
